<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm an entrepreneurial software engineer specializing in full-stack web
      development and dabbling in machine learning. I founded
      <a href="https://twitter.com/ushockgaming">UltraShock Gaming</a>, a game
      marketing startup with a community of 500,000 members on Steam, and ran it
      for 5 years before
      <a href="https://www.elmghari.com/startup-journey/">selling it</a>. I'm
      passionate about startups and solving problems using software.
    </p>

    <p>
      I'm currently finishing up my degree in computer engineering at
      <a class="underline-link" href="https://drexel.edu/" target="_blank"
        >Drexel</a
      >
      while working on some side projects and job hunting. When I'm not coding,
      I'm probably playing soccer, reading, writing for
      <a href="https://www.elmghari.com">my blog</a> or enjoying some good food
      with friends.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
