<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a software engineer specializing in full-stack web development and
      dabbling in machine learning. I founded
      <a class="underline-link" href="https://twitter.com/ushockgaming"
        >UltraShock Gaming</a
      >, a game marketing startup with a community of 500,000 members on Steam,
      and ran it for 5 years before
      <a class="underline-link" href="https://www.elmghari.com/startup-journey/"
        >selling it</a
      >. I'm passionate about startups, specifically in consumer products and
      developer tools.
    </p>

    <p>
      I graduated with a B.S in computer engineering from
      <a class="underline-link" href="https://drexel.edu/" target="_blank"
        >Drexel</a
      >
      and am currently working at
      <a class="underline-link" href="https://fig.io/">Fig</a> as a
      <b>developer advocate and software engineer.</b> When I'm not coding, I'm
      probably playing soccer, reading, writing for
      <a class="underline-link" href="https://www.elmghari.com">my blog</a> or
      enjoying some good food with friends.
    </p>
  </div>
</section>
