<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Application Engineer at
      <a class="underline-link" href="https://selinc.com/" target="_blank"
        >SEL</a
      >
      working on improving our products and educating our clients with some
      awesome people. I recently graduated from
      <a
        class="underline-link"
        href="http://www.ccis.northeastern.edu/"
        target="_blank"
        >Drexel University</a
      >
      after completing three six-month co-ops at
      <a class="underline-link" href="https://selinc.com/" target="_blank"
        >SEL</a
      >
      and
      <a class="underline-link" href="https://sleektext.com/" target="_blank"
        >Sleek</a
      >.
    </p>

    <p>
      I'm an entrepreneurial software engineer specializing in full-stack web
      development and dabbling in machine learning. I founded
      <a href="https://twitter.com/ushockgaming">UltraShock Gaming</a>, a game
      marketing startup with a community of 500,000 members on Steam, and ran it
      for 5 years before
      <a href="https://www.elmghari.com/startup-journey/">selling it</a>. I'm
      passionate about startups and solving problems using software.
    </p>

    <p>
      When I'm not coding, I'm probably playing soccer, reading, writing for
      <a href="https://www.elmghari.com">my blog</a> or enjoying some good food
      with friends.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
