<header class="intro">
  <h1 class="intro__hello">
    Hey!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">
    I'm <span class="name">Hassan</span>, a software engineer
    specializing in web apps & previous startup founder based in SF.
  </h2>

  <h3 class="intro__contact">
    <span>Check out my blog </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://www.elmghari.com/" target="_blank" class="highlight-link"
        >elmghari.com</a
      >
    </span>
  </h3>
</header>
